<div class="container-fluid">
  <div class="row">
    <div class="col-3"><img src="{{pathLogo}}" class="logo"></div>
    <div class="col-9">
      <h1>Minikänguru Admin App</h1>
    </div>
  </div>

  <mat-card class="mat-elevation-z5">
    <mat-card-header>
      <mat-card-title>Über diese Anwendung</mat-card-title>
    </mat-card-header>

    <mat-card-content>
		<div class="row">
			<div class="col-sm-12 col-md-1 label">Umgebung:</div>
			<div class="col-sm-12 col-md-11">{{envName}}</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-1 label">Version:</div>
			<div class="col-sm-12 col-md-11">{{version}}</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-1 label">API-Url:</div>
			<div class="col-sm-12 col-md-11">{{apiUrl}}</div>
		</div>
    </mat-card-content>
  </mat-card>
</div>
