<div class="container">
  <div class="row">
    <div class="col-3"><img src="{{pathLogo}}" class="logo"></div>
    <div class="col-9">
      <h1>Über diese Anwendung</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-2 label">Umgebung:</div>
    <div class="col-sm-12 col-md-10">{{envName}}</div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-2 label">UI-Version:</div>
    <div class="col-sm-12 col-md-10">{{version}}</div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-2 label">API-Url:</div>
    <div class="col-sm-12 col-md-10">{{apiUrl}}</div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-2 label">API-Version:</div>
    <div class="col-sm-12 col-md-10">0.1.0</div>
  </div>

</div>
