<h1>Über diese Anwendung</h1>
<div class="p-grid">
  <div class="p-col-fixed" style="width:100px">Umgebung:</div>
  <div class="p-col">{{envName}}</div>
</div>

<div class="p-grid">
  <div class="p-col-fixed" style="width:100px">Version:</div>
  <div class="p-col">{{version}}</div>
</div>

<div class="p-grid">
  <div class="p-col-fixed" style="width:100px">API-URL:</div>
  <div class="p-col">{{apiUrl}}</div>
</div>

<div class="p-grid">
  <div class="p-col-fixed" style="width:100px">API-Version:</div>
  <div class="p-col">0.1.0</div>
</div>
