<input type="file" #file style="display: none" (change)="onFilesAdded()" multiple />

<div class="container">
  <h1 mat-dialog-title>Upload Files</h1>
  <div>
    <button [disabled]="uploading" mat-raised-button color="primary" class="add-files-btn"
      (click)="addFiles()">
      Add Files
    </button>
  </div>

  <!-- This is the content of the dialog, containing a list of the files to upload -->
  <div>
    <div>
      <div *ngFor="let file of files">

        <h4 mat-line>{{file.name}}</h4>

      </div>
    </div>
    <div>

      <!-- This are the actions of the dialog, containing the primary and the cancel button-->
      <div *ngIf="!uploading && files.size > 0"   class="actions">
        <button [disabled]="!uploading && !canSubmit" (click)="submitUpload()">hochladen</button>
      </div>
    </div>
  </div>

</div>
